<%= turbo_frame_tag "modal" do %>
	<div class="modal">
		<h1>New user</h1>

		<%= render "form", user: @user %>

		<br>

		<div class="link-text">
		  	<%= link_to "Users", users_path, class: "cancel-button", data: { turbo_frame: "_top" }  %>
			<%= link_to "Events", activity_events_path, class: "cancel-button", data: { turbo_frame: "_top" } %>  
		</div>
	</div>
<% end %>
