<footer class="site-footer">
  <div class="container">
    <p>Contact us: <%= mail_to "group9-CSCE606@tamu.edu" %> | (555) 555-5555</p>
    <p> <%=Time.current.year %> Habit Tracker, Group 9</p>
  </div>
</footer>