/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .grid {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: rgb(235, 230, 239); 
    border-radius: 12px;   
    table-layout: fixed;
}

.grid th,
.grid td {
  /* border: 1px solid gray; */
    width: 12.5%; 
}

.modal {
    position: fixed;
    z-index: 1;
    padding: 2em;
    
    /* Centering */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    /* Add the drop shadow */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

/* Example for individual buttons if not using flexbox on parent */
.button-container button {
  display: inline-block;
}

.cancel-button {
    background-color: #6c4f83;
    font-size: 12px;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
 	margin: 4px 2px;
    text-decoration: none;
}

.cancel-button:hover {
    background-color: #8e8396;
}

.text-title {
    text-align: center;
}

.category {
    padding-top: 15px;
    padding-bottom: 15px;
}

.link-text{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

table, th, td {
    border: 1px solid black
}


.table_i, .th_i, .td_i {
    border: 0px solid rgba(255, 255, 255, 0)
}

.today-cell {
    background-color: greenyellow;
}

.site-header {
    text-align: center;
}

.site-footer {
    text-align: center;
}