<div id="<%= dom_id activity %>">
  <p>
    <strong>Activityname:</strong>
    <%= activity.ActivityName %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.Description %>
  </p>

  <p>
    <strong>Activitytype:</strong>
    <%= activity.ActivityType %>
  </p>

</div>
