<%= turbo_frame_tag "modal" do %>
	<div class="modal">
		<h1>Editing activity event</h1>
	
		<%= render "form", activity_event: @activity_event %>
	
		<br>
	
		<table class="table_i">
			<tr class="tr_i">
				<td class="td_i">
		  <%= link_to "View", @activity_event, class: "cancel-button" %>  
				</td>
			</tr>
			<tr class="tr_i">
				<td class="td_i">
			<%= link_to "Events", activity_events_path, class: "cancel-button", data: { turbo_frame: "_top" }  %>
				</td>
			</tr>
		</table>
	</div>
<% end %>
