<% content_for :title, "New activity event" %>

<h1>New activity event</h1>

<%= render "form", activity_event: @activity_event %>

<br>

<div>
  <%= link_to "Back to activity events", activity_events_path %>
</div>
