<%= turbo_frame_tag "modal" do %>
	<div class="modal">
		<h1>New activity event</h1>

		<%= render "form", activity_event: @activity_event %>

		<br>

		<div>
			<%= link_to "Events", activity_events_path, class: "cancel-button", data: { turbo_frame: "_top" } %>  
		</div>
	</div>
<% end %>